@use "../../styles/variables" as var;

.header {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/background/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: hue-rotate(250deg);
    opacity: 0.3;
  }
}
.headerContent {
  display: flex;
  position: relative;
  border-bottom: 2px solid var.$color-font--dark;
}

.headerContentBg {
  width: 100%;
  position: relative;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: var.$screen-phone) {
    height: 25rem;
  }
}

.headerContentText {
  position: absolute;
  color: var.$color-bg--light;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var.$gap-small var.$gap-medium;
  top: 4rem;
  bottom: 4rem;
  left: 5rem;
  right: 5rem;
  border-radius: var.$radius;

  @media screen and (max-width: var.$screen-phone) {
    top: 3rem;
    bottom: 2rem;
    left: 3rem;
    right: 3rem;
    padding: calc(var.$gap-small / 2) var.$gap-small;
  }

  .logoContainer {
    height: 6rem;
    position: relative;
    width: 20rem;
    margin: 0 auto;

    @media screen and (max-width: var.$screen-phone) {
      width: 15rem;
    }
  }

  .title {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: var.$gap-small 0;
    background-image: linear-gradient(
      -45deg,
      var.$color-font--dark 0%,
      var.$color-font--dark 30%,
      var.$color-bg--light 51%,
      var.$color-font--dark 70%,
      var.$color-font--dark 100%
    );
    -webkit-animation: AnimateBG 7s ease infinite;
    animation: AnimateBG 7s ease infinite;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      font-size: 3rem;
    }

    @media screen and (max-width: var.$screen-phone) {
      font-size: 2rem;
    }

    span {
      display: block;
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: calc(var.$gap-small / 2);
      }
    }
  }

  .text,
  .subTitle {
    font-size: 1.5rem;
    margin: var.$gap-medium auto;
    color: var.$color-font--dark;
    text-align: center;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      font-size: 1.3rem;
    }

    @media screen and (max-width: var.$screen-phone) {
      font-size: 1.2rem;
    }
  }

  .subTitle {
    padding-left: 0;
    &::before {
      content: none;
    }
  }
}

@keyframes colorChange {
  0% {
    color: var.$color-blue;
  }
  33% {
    color: var.$color-font--dark;
  }
  66% {
    color: var.$color-font--dark;
  }
  100% {
    color: var.$color-blue;
  }
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
