@use "../../app/styles/variables" as var;

.headerContent {
  display: flex;
  // justify-content: space-between;
  position: relative;
}

.headerContentImage {
  width: 100%;
  background-color: var.$color-white;
  position: relative;
  height: 35rem;
  padding: var.$gap-medium 0;
  filter: opacity(0.9) grayscale(0.9);

  @media screen and (max-width: var.$screen-phone) {
    height: 25rem;
  }
}

.headerContentText {
  position: absolute;
  color: var.$color-bg;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var.$gap-medium var.$gap-xlarge;
  background-color: rgba(var.$color-bg--dark, 0.8);
  top: 8rem;
  bottom: 8rem;
  left: 5rem;
  right: 5rem;
  border-radius: var.$radius;

  @media screen and (max-width: var.$screen-phone) {
    top: 2rem;
    bottom: 2rem;
    left: 3rem;
    right: 3rem;
    padding: calc(var.$gap-small / 2) var.$gap-small;
  }

  .title {
    animation: colorChange 8s linear infinite;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: end;
    width: 100%;

    @media screen and (max-width: var.$screen-phone) {
      font-size: 2rem;
    }
  }

  .text {
    font-size: 1.5rem;
    margin: var.$gap-medium auto;

    @media screen and (max-width: var.$screen-phone) {
      font-size: 1.2rem;
    }
  }
}

@keyframes colorChange {
  0% {
    color: var.$color-blue;
  }
  33% {
    color: var.$color-light-blue;
  }
  66% {
    color: var.$color-font--secondary;
  }
  100% {
    color: var.$color-blue;
  }
}
