@use "../../app/styles/variables" as var;

.headerContent {
  display: flex;
  justify-content: space-between;
  background-color: var.$color-white;
}
.headerContentRight,
.headerContentLeft {
  width: 50%;
}
.headerContentLeft {
  position: relative;
  height: 30rem;
  margin: var.$gap-medium;

  &::after {
    content: "";
    position: absolute;
    width: 5rem;
    height: 25rem;
    border-right: 1rem solid var.$color-bg;
    background-color: rgba(var.$color-font, 0.8);
    bottom: -5rem;
    right: 5rem;
    z-index: 10;
    transform: translateX(100%);
  }
}

.headerContentRight {
  color: var.$color-font;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 var.$gap-medium;
  .title {
    animation: colorChange 8s linear infinite;
    text-transform: uppercase;
  }

  .text {
    margin-top: var.$gap-medium;
  }
}

@keyframes colorChange {
  0% {
    color: var.$color-blue;
  }
  33% {
    color: var.$color-font;
  }
  66% {
    color: var.$color-bg--secondary;
  }
  100% {
    color: var.$color-blue;
  }
}
