@use "../../styles/variables" as var;

.headerContent {
  display: flex;
  position: relative;
  border-bottom: 2px solid var.$color-font--dark;
  background-image: linear-gradient(
    45deg,
    rgba(var.$color-bg--dark, 0.9) 0%,
    var.$color-bg--light 95%
  );
}

.headerContentBg {
  width: 100%;
  position: relative;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: var.$screen-phone) {
    height: 25rem;
  }
}

.headerContentText {
  position: absolute;
  color: var.$color-bg--light;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var.$gap-small var.$gap-medium;
  top: 4rem;
  bottom: 4rem;
  left: 5rem;
  right: 5rem;
  border-radius: var.$radius;

  @media screen and (max-width: var.$screen-phone) {
    top: 2rem;
    bottom: 2rem;
    left: 3rem;
    right: 3rem;
    padding: calc(var.$gap-small / 2) var.$gap-small;
  }

  .logoContainer {
    height: 6rem;
    position: relative;
    width: 20rem;
    margin: 0 auto;

    @media screen and (max-width: var.$screen-phone) {
      width: 15rem;
    }
  }

  .title {
    // animation: colorChange 4s linear infinite;
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: var.$gap-small 0;
    background-image: linear-gradient(
      -45deg,
      var.$color-font--dark 0%,
      var.$color-font--dark 25%,
      var.$color-bg--light 51%,
      var.$color-font--dark 75%,
      var.$color-font--dark 100%
    );
    -webkit-animation: AnimateBG 8s ease- infinite;
    animation: AnimateBG 8s ease infinite;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      font-size: 3rem;
    }

    @media screen and (max-width: var.$screen-phone) {
      font-size: 2rem;
    }
  }

  .text {
    font-size: 1.5rem;
    margin: var.$gap-medium auto;
    color: var.$color-font--dark;
    text-align: center;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      font-size: 1.3rem;
    }

    @media screen and (max-width: var.$screen-phone) {
      font-size: 1.2rem;
    }
  }
}

@keyframes colorChange {
  0% {
    color: var.$color-blue;
  }
  33% {
    color: var.$color-font--dark;
  }
  66% {
    color: var.$color-font--dark;
  }
  100% {
    color: var.$color-blue;
  }
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
