@use "../../styles/variables" as var;

.achievementContainer {
  display: flex;
  justify-content: space-around;
  margin: calc(var.$gap-xlarge * 2) 0;

  @media screen and (max-width: var.$screen-phone) {
    flex-direction: column;
  }

  &:hover {
    .achievementPictureContainer {
      transition: all 0.3s ease-in-out;
      transform: scale(1.05);

      &::before {
        background-color: rgba(var.$color-blue, 0.9);
        transition: all 0.3s ease-in-out;
        height: 20rem;
      }
    }
  }

  .achievementDescription {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: var.$gap-medium;

    @media screen and (max-width: var.$screen-phone) {
      width: 100%;
    }

    .link {
      position: relative;
      transition: color 0.3s ease;
      font-size: 1.2rem;
      font-style: italic;
      margin-top: var.$gap-small;

      &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0px;
        height: 1px;
        width: 0px;
        background-color: var.$color-blue;
        transition: width 0.5s ease-in-out;
      }

      &:hover {
        color: var.$color-blue;

        &::after {
          width: 50%;
        }
      }
    }
  }
}

.achievementPictureContainer {
  position: relative;
  height: 20rem;
  width: 62%;
  z-index: 10;

  @media screen and (max-width: var.$screen-tablet-landscape) {
    height: 18rem;
    width: 60%;
  }

  @media screen and (max-width: var.$screen-phone) {
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: -30px;
    width: 3rem;
    height: 15rem;
    background-color: rgba(var.$color-blue, 0.5);
    transform: rotate(180deg);
    z-index: 100;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      width: 0%;
      height: 0%;
    }
  }
}
