@use "../../styles/variables" as var;

.achievementsContainer {
  padding: 12rem 0 3rem;
  background-color: var.$color-font--dark;

  @media screen and (max-width: var.$screen-phone) {
    padding: 5rem 0 2rem;
  }
}
