@use "./_variables.scss" as var;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: var.$color-bg;
  color: var.$color-bg--dark;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5rem;
  margin: var.$gap-small 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  margin: var.$gap-medium 0;
  position: relative;
  text-indent: 2rem;

  &::before {
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 1.5rem;
    border-right: 0.2rem solid var.$color-blue;
    // background-color: rgba(var.$color-bg--dark, 0.8);
    bottom: 0;
    left: 0;
    z-index: 10;
  }
}

h3 {
  font-size: 1.2rem;
  margin: var.$gap-small 0;
}

strong {
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.ctaBtn {
  border: 1px solid var.$color-bg;
  border-radius: var.$gap-medium;
  padding: calc(var.$gap-small / 2) var.$gap-small;
  background-color: var.$color-bg--dark;
  color: var.$color-bg;
  // background: linear-gradient(to top, var.$color-bg 1%, var.$color-white);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(var.$color-bg, 0.2);

  &:hover {
    background-color: var.$color-blue;
    color: var.$color-bg--dark;
    cursor: pointer;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25),
      0px 0px 6px 0 rgba(255, 255, 255, 0.3);
  }
}

.textHighlighted {
  margin: var.$gap-xlarge;
  padding: var.$gap-medium var.$gap-xlarge;
  font-size: 1.2rem;
  background-color: var.$color-bg--dark;
  color: var.$color-bg;
  position: relative;
  line-height: 2rem;
  border-bottom-left-radius: var.$radius;
  border-top-right-radius: var.$radius;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba(var.$color-bg--dark, 0.9);
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    &::before,
    &::after {
      transition: all 0.2s ease-in-out;
      border-left: 100px solid transparent;
      border-bottom: 100px solid var.$color-blue;
    }
  }

  @media screen and (max-width: var.$screen-phone) {
    margin: var.$gap-small;
    padding: var.$gap-small var.$gap-medium;
  }

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-bottom: 50px solid var.$color-blue;
    transform: rotate(180deg);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-bottom: 50px solid var.$color-blue;
  }
}

//? ==== CONTAINER ==== //
.isHuge {
  margin: 0 12rem;

  @media screen and (max-width: var.$screen-phone) {
    margin: 0 4rem;
  }
}

.isBig {
  margin: 0 8rem;

  @media screen and (max-width: var.$screen-phone) {
    margin: 0 2rem;
  }
}

.isMedium {
  margin: 0 4rem;

  @media screen and (max-width: var.$screen-phone) {
    margin: 0 1rem;
  }
}

.isSmall {
  margin: 0 2rem;

  @media screen and (max-width: var.$screen-phone) {
    margin: 0 0.5rem;
  }
}

//? ==== NAVBAR PRIME REACT ==== \\
.p-menubar {
  justify-content: space-around;
  background: rgba(var.$color-bg--secondary, $alpha: 0.95) !important;
  border: none !important;
  border-radius: 0 !important;
}

.p-menuitem {
  padding: var.$gap-small;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link,
.p-menubar .p-submenu-list,
.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-menubar.p-menubar-mobile-active .p-menubar-root-list {
  background: rgba(var.$color-bg--secondary, $alpha: 0.9) !important;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem.p-menuitem-active
  > .p-menuitem-link:not(.p-disabled):hover,
.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link:not(.p-disabled):hover,
.p-menubar .p-menubar-button:hover {
  background: none !important;
}

.p-menuitem:focus-visible {
  border: none !important;
}
.p-menuitem-link > span {
  color: var.$color-bg--dark !important;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var.$color-bg--dark !important;
  }
}

.p-sidebar-left .p-sidebar {
  width: 15rem !important;
}
