@use "../../../styles/variables" as var;

.cardContainer {
  text-align: center;
  background-color: var.$color-bg--dark;
  color: var.$color-bg;
  padding: var.$gap-small;
  border-radius: var.$radius;
  width: 20%;
  border: 3px solid var.$color-blue;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    0px 0px 6px 0 rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;

  &:hover {
    border: 8px solid var.$color-blue;
  }

  @media screen and (max-width: var.$screen-phone) {
    width: 90%;
    min-height: 15rem;
    margin-top: var.$gap-medium;
  }

  .logo {
    font-size: 2rem;
  }

  .title {
    font-weight: bold;
    letter-spacing: 0.1rem;
    min-height: 3rem;
  }
}
