@use "styles/_variables.scss" as var;

.contactForm {
  padding: var.$gap-xlarge 0;
  background: linear-gradient(
    130deg,
    rgba(var.$color-blue, 0.5) 0%,
    var.$color-bg 15%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__infosAndform {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: calc(var.$gap-xlarge * 2) auto var.$gap-xlarge;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      flex-direction: column;
      align-items: center;
      margin: var.$gap-medium auto var.$gap-xlarge;
    }
  }
  &__infos {
    @media screen and (max-width: var.$screen-tablet-landscape) {
      flex-direction: column;
      align-items: center;
    }

    &__info {
      display: flex;
      align-items: center;
      margin-bottom: var.$gap-small;

      @media screen and (max-width: var.$screen-tablet-landscape) {
        flex-direction: column;
        align-items: center;
      }
      svg {
        margin-right: var.$gap-small;
        font-size: 1.5rem;
      }

      &__mail {
        margin-left: calc(var.$gap-small/2);
        color: var.$color-blue;
      }
    }
  }

  &__formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      margin-top: var.$gap-medium;
    }
    form {
      padding: var.$gap-small;

      & label {
        margin-right: 1rem;
        min-width: 5rem;
      }
    }
  }
}

.inputAndLabel {
  display: flex;
  align-items: center;
  margin-bottom: var.$gap-small;
  .input,
  .textarea {
    min-width: 20rem;
    padding: 0.2rem;

    &::placeholder {
      color: var.$color-bg--dark;
    }
    @media screen and (max-width: 700px) {
      min-width: 15rem;
    }
  }
}

.submitBtn {
  border: 1px solid var.$color-blue;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  background-color: var.$color-bg--dark;
  font-weight: 700;
  font-size: 15px;
  color: var.$color-white;
  border-radius: var.$radius;
  padding: 17px 60px;
  margin: var.$gap-medium auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  &:hover {
    color: var.$color-bg--dark;
    background: var.$color-blue;
  }
}
