@use "../../app//styles/variables" as var;

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.image {
  &:hover {
    cursor: pointer;
  }
}

.menuButton {
  background-color: var.$color-bg--secondary;
  border: none;
  width: 100%;
  color: var.$color-font;
  padding: calc(var.$gap-small / 2);

  span {
    margin-right: var.$gap-small;
  }

  &:focus {
    box-shadow: none;
  }
}
