@use "../../app/styles/variables" as var;

.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var.$color-bg--dark;
  color: var.$color-light-blue;

  .navBarContainer {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logoContainer {
      position: relative;
      width: 10rem;
      height: 5rem;
    }

    .linksContainer {
      .link {
        margin-left: var.$gap-medium;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: var.$color-blue;
        }
      }
    }
  }
}

.image {
  &:hover {
    cursor: pointer;
  }
}

.menuButton {
  background-color: var.$color-bg--secondary;
  border: none;
  width: 100%;
  color: var.$color-bg--dark;
  padding: calc(var.$gap-small / 2);

  span {
    margin-right: var.$gap-small;
  }

  &:focus {
    box-shadow: none;
  }
}
