@use "../../styles/variables" as var;

.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var.$color-font--dark;
  color: var.$color-font--light;
  height: 5rem;
  border-bottom: 1px solid var.$color-bg--light;

  @media screen and (max-width: 800px) {
    position: relative;
    height: unset;
  }

  .navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    @media screen and (max-width: 800px) {
      height: unset;
    }
  }
}

.image {
  &:hover {
    cursor: pointer;
  }
}
