@use "../../styles/variables" as var;

.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var.$color-bg--dark;
  color: var.$color-light-blue;
  height: 5rem;

  @media screen and (max-width: var.$screen-phone) {
    position: relative;
    height: unset;
  }

  .navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    @media screen and (max-width: var.$screen-phone) {
      height: unset;
    }

    .linksContainer {
      display: flex;

      @media screen and (max-width: var.$screen-phone) {
        flex-direction: column;
      }

      .link {
        font-size: 1.2rem;
        margin-right: var.$gap-medium;
        transition: all 0.2s ease-in-out;

        @media screen and (max-width: var.$screen-phone) {
          margin: calc(var.$gap-small / 2) 0;
        }

        &:hover {
          color: var.$color-blue;
        }
      }
    }
  }
}

.image {
  &:hover {
    cursor: pointer;
  }
}

.menuButton {
  background-color: var.$color-bg--secondary;
  border: none;
  width: 100%;
  color: var.$color-bg--dark;
  padding: calc(var.$gap-small / 2);

  span {
    margin-right: var.$gap-small;
  }

  &:focus {
    box-shadow: none;
  }
}
