@use "../../styles/variables" as var;

.articleCardContainer {
  &,
  & * {
    box-sizing: border-box;
    transition: 400ms;
  }
  text-align: center;
  color: var.$color-yellow;
  padding: var.$gap-small;
  border-radius: var.$radius;
  backdrop-filter: blur(16px) saturate(181%);
  -webkit-backdrop-filter: blur(16px) saturate(181%);
  background-color: rgba(17, 25, 40, 0.81);
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: all 0.2s ease-in-out;
  position: relative;
  width: 18rem;
  height: 16rem;
  margin: var.$gap-small;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    .title {
      transform: translateY(-1rem);
    }
    .description {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .title {
    transform: translateY(2.5rem);
    padding: 0;
    text-align: left;
    &::before {
      content: none;
    }
  }

  .description {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    position: relative;
    text-align: left;
    letter-spacing: 0.1rem;
  }
}
