@use "../../styles/variables" as var;

.articlesContainer {
  padding: 12rem 0 3rem;
  background-image: url("../../assets/background/texture.webp");
  background-position: 0;
  background-size: 1000px 1000px;

  @media screen and (max-width: var.$screen-phone) {
    padding: 5rem 0 2rem;
  }

  .articleCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: var.$gap-xlarge 0;
  }
}
