@use "../../styles/variables" as var;

.footer {
  color: var.$color-font--dark;
  border-top: 1px solid var.$color-font--dark;
  font-size: 1.2rem;
  background-image: url("../../assets/background/texture.jpg");
  background-position: 0;
  background-size: 1000px 1000px;
}

.footerContainer {
  display: flex;

  @media screen and (max-width: var.$screen-phone) {
    flex-direction: column;
  }

  .leftContainer,
  .rightContainer {
    padding: var.$gap-medium;

    @media screen and (max-width: var.$screen-phone) {
      padding: var.$gap-small;
    }
  }

  .leftContainer {
    .title {
      display: flex;
      align-items: center;

      h4 {
        margin: var.$gap-small 0 0 calc(var.$gap-small / 2);
      }
    }
    .logoContainer {
      height: 3rem;
      position: relative;
      width: 8rem;
      // margin: 0 auto;
    }
    .address {
      line-height: 2rem;
    }
  }

  .rightContainer {
    li {
      margin-top: var.$gap-small;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: var.$color-blue;
      }
    }
  }
}
.bottomContainer {
  border-top: 1px solid var.$color-font--dark;
  padding: var.$gap-small;
  text-align: center;

  a > p {
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var.$color-blue;
    }
  }
}
