@use "../../app/styles/variables" as var;

.footer {
  background-color: var.$color-bg-footer;
  color: var.$color-light-blue;
}

.footerContainer {
  display: flex;

  .leftContainer,
  .rightContainer {
    padding: var.$gap-medium;
  }

  .rightContainer {
    li {
      margin-top: var.$gap-small;
    }
  }
}
.bottomContainer {
  border-top: 1px solid var.$color-light-blue;
  padding: var.$gap-small;
  text-align: center;
}
