@use "../../styles/variables" as var;

.descriptionContent {
  padding: var.$gap-xlarge 0;
  background: linear-gradient(
    130deg,
    rgba(var.$color-blue, 0.5) 0%,
    var.$color-bg 15%
  );

  p {
    color: var.$color-bg--black;
  }
}
