@use "@/styles/variables" as var;

.descriptionContent {
  color: var.$color-yellow;
  background-color: var.$color-font--dark;

  .descriptionModuleContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 40rem;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      flex-direction: column;
    }

    .descriptionModulePicture {
      position: absolute;
      height: 90%;
      width: 45%;
      top: var.$gap-medium;
      overflow: hidden;

      @media screen and (max-width: var.$screen-tablet-landscape) {
        display: none;
      }
    }
    .descriptionModuleText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: var.$radius;
      width: 60%;
      color: var.$color-yellow;

      @media screen and (max-width: var.$screen-tablet-landscape) {
        width: 95%;
        margin: auto;
      }
    }
  }

  .descriptionModuleContainer:nth-child(1),
  .descriptionModuleContainer:nth-child(3) {
    justify-content: flex-end;
    margin: calc(var.$gap-xlarge * 2) var.$gap-medium calc(var.$gap-xlarge * 2)
      0;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      margin: var.$gap-medium auto;
    }
    @media screen and (max-width: var.$screen-phone) {
      margin: var.$gap-xlarge auto;
    }

    .descriptionModulePicture {
      left: 0;
      border-top-right-radius: var.$radius;
      border-bottom-right-radius: var.$radius;
    }
    .descriptionModuleText {
      background-color: var.$color-white;
      letter-spacing: 0.05rem;
      padding: var.$gap-small var.$gap-small var.$gap-small
        calc(var.$gap-xlarge * 2);

      @media screen and (max-width: var.$screen-tablet-landscape) {
        padding: var.$gap-small;
      }
    }
  }

  .descriptionModuleContainer:nth-child(2) {
    justify-content: flex-start;
    margin: calc(var.$gap-xlarge * 2) 0 calc(var.$gap-xlarge * 2)
      var.$gap-medium;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      margin: var.$gap-medium auto;
    }

    @media screen and (max-width: var.$screen-phone) {
      margin: var.$gap-large auto 15rem;
    }

    .descriptionModulePicture {
      right: 0;
      border-top-left-radius: var.$radius;
      border-bottom-left-radius: var.$radius;
    }
    .descriptionModuleText {
      padding: var.$gap-small calc(var.$gap-xlarge * 2) var.$gap-small
        var.$gap-small;
      background-color: var.$color-white;
      color: var.$color-yellow;
      letter-spacing: 0.05rem;

      @media screen and (max-width: var.$screen-tablet-landscape) {
        padding: var.$gap-small;
      }
    }
  }
}
