@use "../../styles/variables" as var;

.descriptionContent {
  padding: var.$gap-medium 0;
  color: var.$color-font--dark;
  background-image: url("../../assets/background/texture.webp");
  background-position: 0;
  background-size: 1000px 1000px;

  .achievements {
    background-image: url("../../assets/background/texture-dark.webp");
    padding: 2rem 0;
    color: var.$color-yellow;

    .title {
      text-align: center;
      font-size: 2rem;

      @media screen and (max-width: var.$screen-tablet-landscape) {
        font-size: 1.5rem;
      }
    }

    .subtitle {
      text-align: center;
      width: 50%;
      margin: 0 auto var.$gap-medium;

      @media screen and (max-width: var.$screen-tablet-landscape) {
        width: 90%;
      }
    }

    .allAchievementsLinkContainer {
      display: flex;
      justify-content: flex-end;

      .allAchievementsLink {
        font-size: 1.2rem;
        margin: 0 var.$gap-medium;
        position: relative;
        width: fit-content;
        display: flex;
        align-items: center;

        &::after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 0px;
          height: 1px;
          width: 0px;
          background-color: var.$color-font--light;
          transition: width 0.5s ease-in-out;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }

    .achievementsContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 var.$gap-small;
    }
  }

  .descriptionModuleContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 40rem;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      flex-direction: column;
    }

    .descriptionModulePicture {
      position: absolute;
      height: 90%;
      width: 45%;
      top: var.$gap-medium;
      overflow: hidden;

      @media screen and (max-width: var.$screen-tablet-landscape) {
        display: none;
      }
    }
    .descriptionModuleText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: var.$radius;
      width: 60%;
      color: var.$color-yellow;

      @media screen and (max-width: var.$screen-tablet-landscape) {
        width: 95%;
        margin: auto;
      }

      .linkContainer {
        display: flex;
        justify-content: flex-end;

        .linkArticle {
          width: fit-content;
          text-align: end;
          font-size: 1.3rem;
          letter-spacing: 0.2px;
          font-family: "font-article-regular", Georgia, Droid-serif, serif;
          position: relative;
          display: flex;

          &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0px;
            height: 2px;
            width: 0px;
            background-color: var.$color-yellow;
            transition: width 0.5s ease-in-out;
            display: block;
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .descriptionModuleContainer:nth-child(1),
  .descriptionModuleContainer:nth-child(3) {
    justify-content: flex-end;
    margin: calc(var.$gap-xlarge * 2) var.$gap-medium calc(var.$gap-xlarge * 2)
      0;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      margin: var.$gap-medium auto;
    }
    @media screen and (max-width: var.$screen-phone) {
      margin: var.$gap-xlarge auto;
    }

    .descriptionModulePicture {
      left: 0;
      border-top-right-radius: var.$radius;
      border-bottom-right-radius: var.$radius;
    }
    .descriptionModuleText {
      background-image: url("../../assets/background/texture-dark.webp");
      background-position: 0;
      background-size: 1000px 1000px;
      letter-spacing: 0.05rem;
      padding: var.$gap-small var.$gap-small var.$gap-small
        calc(var.$gap-xlarge * 2);

      @media screen and (max-width: var.$screen-tablet-landscape) {
        padding: var.$gap-small;
      }
    }
  }

  .descriptionModuleContainer:nth-child(2) {
    justify-content: flex-start;
    margin: calc(var.$gap-xlarge * 2) 0 calc(var.$gap-xlarge * 2)
      var.$gap-medium;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      margin: var.$gap-medium auto;
    }

    @media screen and (max-width: var.$screen-phone) {
      margin: var.$gap-large auto 15rem;
    }

    .descriptionModulePicture {
      right: 0;
      border-top-left-radius: var.$radius;
      border-bottom-left-radius: var.$radius;
    }
    .descriptionModuleText {
      padding: var.$gap-small calc(var.$gap-xlarge * 2) var.$gap-small
        var.$gap-small;
      background-image: url("../../assets/background/texture-dark.webp");
      background-position: 0;
      background-size: 1000px 1000px;
      color: var.$color-yellow;
      letter-spacing: 0.05rem;

      @media screen and (max-width: var.$screen-tablet-landscape) {
        padding: var.$gap-small;
      }
    }
  }
}
