@use "../../../styles/variables" as var;

.cardContainer {
  text-align: center;
  color: var.$color-font--dark;
  padding: var.$gap-small;
  border-radius: var.$radius;
  width: 20%;
  border: 3px solid var.$color-white;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    0px 0px 6px 0 rgba(255, 255, 255, 0.3);
  margin-bottom: var.$gap-small;
  background-color: var.$color-yellow;

  @media screen and (max-width: var.$screen-tablet-landscape) {
    width: 40%;
  }

  @media screen and (max-width: var.$screen-phone) {
    width: 70%;
    min-height: 15rem;
    margin-top: var.$gap-medium;
  }

  &__logo {
    font-size: 2rem;

    @media screen and (max-width: var.$screen-phone) {
      font-size: 1.5rem;
    }
  }

  &__title {
    font-weight: bold;
    letter-spacing: 0.1rem;
    min-height: 3rem;
  }
}
