@use "@/styles/variables" as var;

.cards {
  background-color: var.$color-font--dark;
  color: var.$color-yellow;
  padding: var.$gap-xlarge 0 calc(var.$gap-large * 2);

  &__title {
    text-align: center;
    font-size: 2rem;
    padding: var.$gap-medium 0 0;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      font-size: 1.5rem;
    }
  }

  &__subtitle {
    text-align: center;
    width: 50%;
    padding: 0 0 var.$gap-medium;
    margin: 0 auto var.$gap-medium;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      width: 90%;
    }
  }

  &__cardsContainer {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: var.$screen-tablet-landscape) {
      flex-wrap: wrap;
      height: unset;
    }

    @media screen and (max-width: var.$screen-phone) {
      flex-direction: column;
      align-items: center;
      height: unset;
    }
  }
}
