@use "@/styles/variables" as var;

.linksContainer {
  display: flex;

  @media screen and (max-width: var.$screen-phone) {
    flex-direction: column;
  }

  .link {
    font-size: 1.2rem;
    margin-right: var.$gap-medium;
    transition: all 0.2s ease-in-out;

    @media screen and (max-width: var.$screen-phone) {
      margin: calc(var.$gap-small / 2) 0;
    }

    &:hover {
      color: var.$color-blue;
    }
  }
}
