@use "styles/variables" as var;

.presentationContainer {
  padding: 12rem 0 3rem;
  background-image: url("../../assets/background/texture.jpg");
  background-position: 0;
  background-size: 1000px 1000px;

  @media screen and (max-width: var.$screen-phone) {
    padding: 5rem 0 2rem;
  }

  .content {
    padding: 0 var.$gap-xlarge var.$gap-xlarge;

    @media screen and (max-width: var.$screen-phone) {
      padding: 0 var.$gap-small var.$gap-small;
    }
  }
}
