@use "styles/variables" as var;

.presentationContainer {
  padding: 12rem 0 3rem;
  background-color: var.$color-font--dark;
  color: var.$color-yellow;

  @media screen and (max-width: var.$screen-phone) {
    padding: 5rem 0 2rem;
  }

  .content {
    padding: 0 var.$gap-xlarge var.$gap-xlarge;

    @media screen and (max-width: var.$screen-phone) {
      padding: 0 var.$gap-small var.$gap-small;
    }
  }
}
