@use "styles/variables" as var;

.presentationContainer {
  padding-top: 12rem;

  @media screen and (max-width: var.$screen-phone) {
    padding-top: 5rem;
  }

  .content {
    padding: 0 var.$gap-xlarge var.$gap-xlarge;

    @media screen and (max-width: var.$screen-phone) {
      padding: 0 var.$gap-small var.$gap-small;
    }
  }
}
