@use "@/styles/variables" as var;

.articleHomePage {
  position: relative;
  z-index: 2;
  width: 20rem;
  margin: var.$gap-medium 0;

  &:hover {
    .articleContainerHomePage {
      transform: translate(5px, 5px);
    }
  }
  &__articleContainerHomePage {
    min-height: 26rem;
    border-radius: calc(var.$radius / 2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../../assets/background/texture.webp");
    background-position: 0;
    background-size: 1000px 1000px;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: var.$screen-phone) {
      flex-direction: column;
      margin: var.$gap-medium 0;
      padding: var.$gap-small;
    }

    &__articleDescription {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: var.$gap-medium;
      color: var.$color-font--dark;

      @media screen and (max-width: var.$screen-phone) {
        padding: var.$gap-small;
        width: 100%;
      }
      span {
        height: 2rem;
      }
      .title {
        padding-left: 0;
        font-weight: 700;
        height: 7rem;
        margin: 0;
        &::before {
          all: unset;
        }
      }

      .catchPhrase {
        font-size: 1.2rem;
        line-height: 1.5;
        max-height: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .articleHomePageBackground {
    border-radius: calc(var.$radius / 2);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var.$color-yellow;
    display: flex;
    top: 5px;
    right: -5px;
    z-index: -1;
  }
}
