$color-blue: #0b2a3d;
$color-font--dark: #072a40;
// $color-font--light: #fae6b1;
$color-font--blog: #424242;
$color-yellow: #ffbb2b;
$color-font--light: #ffbb2b;
$color-black: #202020;
$color-bg--dark: #d3f2fc;
$color-bg--light: #f9f7f0;

$radius: 1rem;
$gap-small: 1rem;
$gap-medium: 2rem;
$gap-large: 3rem;
$gap-xlarge: 5rem;

$screen-phone: 599px;
$screen-tablet-portrait: 800px;
$screen-tablet-landscape: 1024px;
$screen-desktop: 1200px;
