@use "styles/_variables.scss" as var;

.fourOhFour {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: var.$gap-xlarge 0;
  padding: 12rem 0 12rem;
  background-color: var.$color-font--dark;
  color: var.$color-yellow;

  button:hover {
    cursor: pointer;
  }
}
