@use "styles/_variables.scss" as var;

.fourOhFour {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: var.$gap-xlarge 0;
  padding: 12rem 0 12rem;
  background-image: url("../assets/background/texture.jpg");
  background-position: 0;
  background-size: 1000px 1000px;
}
